In [1]:
import pandas as pd
import numpy as np 
import Name_resolver
import pandas as pd
import CococoNet_reader 
import os
import itertools
import numpy as np
import Name_resolver
import warnings

In [2]:
name_resolver = pd.read_csv('/data/passala/Generated_Tables/Reference_tables/Species_name_resolver.csv')
name_resolver

                    Species  Taxa ID  Common Name
0              Oryza sativa     4530         rice
1     Oryza sativa japonica    39947      rice_jp
2           Malus domestica     3750        apple
3           Sorghum bicolor     4558      sorghum
4                  Zea mays     4577        maize
5            Vitis vinifera    29760        grape
6             Brassica rapa     3711      mustard
7               Glycine max     3847      soybean
8       Medicago truncatula     3880     medicago
9         Nicotiana tabacum     4097      tobacco
10        Solanum tuberosum     4113       potato
11     Solanum lycopersicum     4081       tomato
12     Arabidopsis thaliana     3702  arabidopsis
13         Arachis hypogaea     3818       peanut
14        Triticum aestivum     4565        wheat
15          Cucumis sativus     3659     cucumber
16           Brassica napus     1753     rapeseed
17  Brachypodium distachyon    15368        brome
18             Homo sapiens     9606        human
19         Canis familiaris     9615          dog
20           Equus caballus     9796        horse
21             Capra hircus     9925         goat
22    Oryctolagus cuniculus     9986       rabbit
23        Rattus norvegicus    10116          rat
24             Mus musculus    10090        mouse
25          Pan troglodytes     9598        chimp
26      Macaca fascicularis     9541        crabm
27           Macaca mulatta     9544      rhesusm
28               Sus scrofa     9823         boar
29               Bos taurus     9913          cow
30               Ovis aries     9940        sheep
31  Drosophila melanogaster     7227     fruitfly

In [3]:
log_file = pd.read_csv('/data/passala/Collaborator_Data/Zach_Pan_solanum_Data/Jack_prickles_data/all_annotated_logs_plants.csv')
log_file = log_file.replace('Oryza sativa Japonica Group','Oryza sativa')

In [4]:
log_file = log_file.loc[log_file['tax_id'].isin(name_resolver['Taxa ID'])]

In [5]:
log_file['Org_name'].value_counts()

Triticum aestivum          42
Arachis hypogaea           23
Glycine max                22
Nicotiana tabacum          20
Malus domestica            19
Brassica rapa              18
Vitis vinifera             14
Zea mays                   13
Cucumis sativus            12
Solanum tuberosum          12
Sorghum bicolor            12
Oryza sativa               11
Medicago truncatula        10
Brachypodium distachyon     9
Solanum lycopersicum        5
Name: Org_name, dtype: int64

In [6]:
for species_scientific_name in log_file['Org_name'].unique():
    common_name = Name_resolver.species_name_resolver(species_scientific_name, desired_type='common')
    print(common_name)

peanut
brome
mustard
cucumber
soybean
apple
medicago
tobacco
rice
tomato
potato
sorghum
wheat
grape
maize

In [7]:
log_file  = log_file[['tax_id','Org_name','GeneID','Symbol','Aliases']]
log_file

,tax_id,Org_name,GeneID,Symbol,Aliases
119,3818,Arachis hypogaea,112696371,LOC112696371,NaN
120,3818,Arachis hypogaea,112696525,LOC112696525,NaN
121,3818,Arachis hypogaea,112705636,LOC112705636,NaN
122,3818,Arachis hypogaea,112706356,LOC112706356,NaN
123,3818,Arachis hypogaea,112706806,LOC112706806,NaN
...,...,...,...,...,...
2351,4577,Zea mays,100285847,LOC100285847,"ZEAMMB73_Zm00001d038862, GRMZM2G021406, umc1296"
2352,4577,Zea mays,100383171,LOC100383171,"ZEAMMB73_Zm00001d014016, GRMZM2G100360"
2353,4577,Zea mays,100384413,LOC100384413,"ZEAMMB73_Zm00001d025868, GRMZM5G896859"
2354,4577,Zea mays,103646208,LOC103646208,"ZEAMMB73_Zm00001d003013, GRMZM2G471931"
2355,4577,Zea mays,108410394,LOC108410394,GRMZM2G021406

In [8]:
log_file

,tax_id,Org_name,GeneID,Symbol,Aliases
119,3818,Arachis hypogaea,112696371,LOC112696371,NaN
120,3818,Arachis hypogaea,112696525,LOC112696525,NaN
121,3818,Arachis hypogaea,112705636,LOC112705636,NaN
122,3818,Arachis hypogaea,112706356,LOC112706356,NaN
123,3818,Arachis hypogaea,112706806,LOC112706806,NaN
...,...,...,...,...,...
2351,4577,Zea mays,100285847,LOC100285847,"ZEAMMB73_Zm00001d038862, GRMZM2G021406, umc1296"
2352,4577,Zea mays,100383171,LOC100383171,"ZEAMMB73_Zm00001d014016, GRMZM2G100360"
2353,4577,Zea mays,100384413,LOC100384413,"ZEAMMB73_Zm00001d025868, GRMZM5G896859"
2354,4577,Zea mays,103646208,LOC103646208,"ZEAMMB73_Zm00001d003013, GRMZM2G471931"
2355,4577,Zea mays,108410394,LOC108410394,GRMZM2G021406

In [35]:
log_file.loc[log_file['Org_name'] == 'Triticum aestivum'].index

Int64Index([2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178,
            2179, 2180, 2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2189,
            2190, 2191, 2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200,
            2201, 2202, 2203, 2204, 2205, 2206, 2207, 2208, 2209],
           dtype='int64')

In [36]:
log_file = log_file.drop(log_file.loc[log_file['Org_name'] == 'Solanum lycopersicum'].index,)
log_file = log_file.drop(log_file.loc[log_file['Org_name'] == 'Triticum aestivum'].index,)

In [42]:
log_file.head(50)

     tax_id                 Org_name     GeneID        Symbol          Aliases
119    3818         Arachis hypogaea  112696371  LOC112696371              NaN
120    3818         Arachis hypogaea  112696525  LOC112696525              NaN
121    3818         Arachis hypogaea  112705636  LOC112705636              NaN
122    3818         Arachis hypogaea  112706356  LOC112706356              NaN
123    3818         Arachis hypogaea  112706806  LOC112706806              NaN
124    3818         Arachis hypogaea  112720194  LOC112720194              NaN
125    3818         Arachis hypogaea  112728783  LOC112728783              NaN
126    3818         Arachis hypogaea  112728967  LOC112728967              NaN
127    3818         Arachis hypogaea  112736485  LOC112736485              NaN
128    3818         Arachis hypogaea  112736488  LOC112736488              NaN
129    3818         Arachis hypogaea  112737360  LOC112737360              NaN
130    3818         Arachis hypogaea  112754590  LOC112754590              NaN
131    3818         Arachis hypogaea  112758064  LOC112758064              NaN
132    3818         Arachis hypogaea  112758245  LOC112758245              NaN
133    3818         Arachis hypogaea  112759189  LOC112759189              NaN
134    3818         Arachis hypogaea  112760540  LOC112760540              NaN
135    3818         Arachis hypogaea  112766683  LOC112766683              NaN
136    3818         Arachis hypogaea  112766794  LOC112766794              NaN
137    3818         Arachis hypogaea  112772985  LOC112772985              NaN
138    3818         Arachis hypogaea  112785267  LOC112785267              NaN
139    3818         Arachis hypogaea  112785935  LOC112785935              NaN
140    3818         Arachis hypogaea  112786094  LOC112786094              NaN
141    3818         Arachis hypogaea  112789438  LOC112789438              NaN
192   15368  Brachypodium distachyon  100821294  LOC100821294  BRADI_2g14470v3
193   15368  Brachypodium distachyon  100822508  LOC100822508  BRADI_5g15840v3
194   15368  Brachypodium distachyon  100824325  LOC100824325  BRADI_4g37070v3
195   15368  Brachypodium distachyon  100829394  LOC100829394  BRADI_2g42190v3
196   15368  Brachypodium distachyon  100841130  LOC100841130  BRADI_2g47860v3
197   15368  Brachypodium distachyon  100841756  LOC100841756  BRADI_3g49300v3
198   15368  Brachypodium distachyon  100842974  LOC100842974  BRADI_3g28900v3
199   15368  Brachypodium distachyon  100843713  LOC100843713  BRADI_1g00900v3
200   15368  Brachypodium distachyon  100844429  LOC100844429  BRADI_1g11790v3
258    3711            Brassica rapa  103829723  LOC103829723              NaN
259    3711            Brassica rapa  103829930  LOC103829930              NaN
260    3711            Brassica rapa  103830928  LOC103830928              NaN
261    3711            Brassica rapa  103834300  LOC103834300              NaN
262    3711            Brassica rapa  103837108  LOC103837108              NaN
263    3711            Brassica rapa  103841270  LOC103841270              NaN
264    3711            Brassica rapa  103846679  LOC103846679              NaN
265    3711            Brassica rapa  103846971  LOC103846971              NaN
266    3711            Brassica rapa  103850484  LOC103850484              NaN
267    3711            Brassica rapa  103850617  LOC103850617              NaN
268    3711            Brassica rapa  103850803  LOC103850803              NaN
269    3711            Brassica rapa  103857666  LOC103857666              NaN
270    3711            Brassica rapa  103863411  LOC103863411              NaN
271    3711            Brassica rapa  103864833  LOC103864833              NaN
272    3711            Brassica rapa  103865506  LOC103865506              NaN
273    3711            Brassica rapa  103865582  LOC103865582              NaN
274    3711            Brassica rapa  103867217  LOC103867217              NaN
275    3711            Brassica rapa  103871337  LOC103871337              NaN

In [11]:
tomato_list = ['LOG8','LOC101262778','LOC101246083','LOG6','LOG7','TLOG1','LOC101252798']
arabi_gene_list = ['AT2G37210',"AT3G53450","AT2G28305","AT5G06300","AT4G35190","AT5G03270","AT2G35990","AT5G11950"]

In [12]:
file_list = os.listdir('/data/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species') 
spec_1_filter = [i for i in file_list if 'apple' in i]
spec_2_filter = [i for i in spec_1_filter if 'rice' in i]
current_location = spec_2_filter[0] #get string for map

In [13]:
Species_1 = 'tomato'
Species_2 = 'cucumber'

In [14]:
def get_log_genes_by_species(species_1 = 'cucumber'):
    scientific_name_1 = Name_resolver.species_name_resolver(species_1,'scientific')
    one_species_log_file = log_file.loc[log_file['Org_name'] == scientific_name_1]
    log_genes = one_species_log_file['Symbol'].to_list()
    return log_genes

In [15]:
import pandas as pd
import CococoNet_reader
#Get Species Names in Common form 
common_name_1 = Name_resolver.species_name_resolver(Species_1,'common')
common_name_2 = Name_resolver.species_name_resolver(Species_2,'common')
if common_name_1 == 'rice':
    common_name_1 = 'rice_jp'
if common_name_2 == 'rice':
    common_name_2 ='rice_jp'
file_list = os.listdir('/data/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species')
spec_1_filter = [i for i in file_list if common_name_1 in i]
spec_2_filter = [i for i in spec_1_filter if common_name_2 in i]
current_location = '/data/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species/' + spec_2_filter[0] #get string for map

cross_species_n_m_genes = pd.read_csv(current_location)
orig_column_common_name_1 = common_name_1 + ' Symbol'
orig_column_common_name_2 = common_name_2 + ' Symbol'
cross_species_n_m_genes = cross_species_n_m_genes.rename(columns = {orig_column_common_name_1:common_name_1,orig_column_common_name_2:common_name_2})

In [16]:
current_species_2_log_genes = get_log_genes_by_species()
test_list = [tomato_list, current_species_2_log_genes]
combinations = [p for p in itertools.product(*test_list)]
base_faker_df = pd.DataFrame(data = combinations, columns = [common_name_1,common_name_2])
base_faker_df[common_name_1+ ' OrthoGene'] = 'added'
base_faker_df[common_name_2+ ' OrthoGene'] = 'added'
base_faker_df['Orthogroup'] = 'LOG'


cross_species_n_m_genes = pd.concat([cross_species_n_m_genes,base_faker_df])
cross_species_n_m_genes

,tomato OrthoGene,cucumber OrthoGene,Orthogroup,tomato,cucumber
0,4081_0:0044e5,3659_0:0028ff,10092at3193,GPA1,LOC101216232
1,4081_0:0060db,3659_0:00083b,10147at3193,LOC101260909,LOC101218049
2,4081_0:001ce5,3659_0:000903,10228at3193,LOC101262196,LOC101212131
3,4081_0:00485f,3659_0:0007df,10238at3193,LOC101260971,LOC101209435
4,4081_0:0059bd,3659_0:003c14,10488at3193,LOC101253967,LOC101208568
...,...,...,...,...,...
79,added,added,LOG,LOC101252798,LOC101214050
80,added,added,LOG,LOC101252798,LOC101216571
81,added,added,LOG,LOC101252798,LOC101217182
82,added,added,LOG,LOC101252798,LOC101217215
83,added,added,LOG,LOC101252798,LOC101218203

In [17]:
def Calculate_Score_list_for_thresholding(Species_1 = 'tomato',Species_2 = 'maize'):
    import pandas as pd
    import CococoNet_reader
    #Get Species Names in Common form 
    common_name_1 = Name_resolver.species_name_resolver(Species_1,'common')
    common_name_2 = Name_resolver.species_name_resolver(Species_2,'common')
    if common_name_1 == 'rice':
        common_name_1 = 'rice_jp'
    if common_name_2 == 'rice':
        common_name_2 ='rice_jp'
    file_list = os.listdir('/data/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species')
    spec_1_filter = [i for i in file_list if common_name_1 in i]
    spec_2_filter = [i for i in spec_1_filter if common_name_2 in i]
    current_location = '/data/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species/' + spec_2_filter[0] #get string for map

    cross_species_n_m_genes = pd.read_csv(current_location)
    orig_column_common_name_1 = common_name_1 + ' Symbol'
    orig_column_common_name_2 = common_name_2 + ' Symbol'
    cross_species_n_m_genes = cross_species_n_m_genes.rename(columns = {orig_column_common_name_1:common_name_1,orig_column_common_name_2:common_name_2})

    current_species_2_log_genes = get_log_genes_by_species(common_name_2)
    test_list = [tomato_list, current_species_2_log_genes]
    combinations = [p for p in itertools.product(*test_list)]
    base_faker_df = pd.DataFrame(data = combinations, columns = [common_name_1,common_name_2])
    base_faker_df[common_name_1+ ' OrthoGene'] = 'added'
    base_faker_df[common_name_2+ ' OrthoGene'] = 'added'
    base_faker_df['Orthogroup'] = 'LOG'


    cross_species_n_m_genes = pd.concat([cross_species_n_m_genes,base_faker_df])
    cross_species_n_m_genes

    
    ### Get one to ones
    cross_species_map_one_to_one = cross_species_n_m_genes.drop_duplicates(subset=common_name_1, keep= False,)
    cross_species_map_one_to_one = cross_species_map_one_to_one.drop_duplicates(subset= common_name_2, keep= False)

    ## Convert to Dictionary
    dictionary_mapper_one_to_two = cross_species_map_one_to_one.set_index(common_name_1).to_dict()[common_name_2]
    dictionary_mapper_dos_to_uno = cross_species_map_one_to_one.set_index(common_name_2).to_dict()[common_name_1]

    ## Read In Cococonets 
    coconet_species_one = CococoNet_reader.read_cococonet(common_name_1)
    coconet_species_two = CococoNet_reader.read_cococonet(common_name_2)

    cross_species_n_m_genes['Group ID'] = 'Unassigned'


    ## Assign Genes to Groups
    id_indexer = 0
    for gene_pair in cross_species_n_m_genes.iterrows():
        
        if gene_pair[1]['Group ID'] == 'Unassigned':
            current_species_1_gene = gene_pair[1][common_name_1]
            current_species_2_gene = gene_pair[1][common_name_2]
            cross_species_n_m_genes['Group ID'].loc[(cross_species_n_m_genes[common_name_1] == current_species_1_gene) & (cross_species_n_m_genes['Group ID'] == 'Unassigned')] = id_indexer
            cross_species_n_m_genes['Group ID'].loc[(cross_species_n_m_genes[common_name_2] == current_species_2_gene) & (cross_species_n_m_genes['Group ID'] == 'Unassigned')] = id_indexer

            all_labeled_groups = cross_species_n_m_genes.loc[cross_species_n_m_genes['Group ID'] == id_indexer]

            all_labeled_groups_species_1_genes = all_labeled_groups[common_name_1].to_list()
            all_labeled_groups_species_2_genes = all_labeled_groups[common_name_2].to_list()

            cross_species_n_m_genes['Group ID'].loc[cross_species_n_m_genes[common_name_1].isin(all_labeled_groups_species_1_genes)] = id_indexer
            cross_species_n_m_genes['Group ID'].loc[cross_species_n_m_genes[common_name_2].isin(all_labeled_groups_species_2_genes)] = id_indexer

            id_indexer += 1



    #Identify Pairs for evaluation
    all_pairs_to_evaluate_for_functional_conservation = pd.DataFrame(columns = [common_name_1,common_name_2,'Group Number'])
    for group_number in list(set(cross_species_n_m_genes['Group ID'].to_list())):
        current_gene_map = cross_species_n_m_genes.loc[cross_species_n_m_genes['Group ID'] == group_number]
        list_of_species_1_genes_in_group = list(set(current_gene_map[common_name_1].to_list()))
        list_of_species_2_genes_in_group = list(set(current_gene_map[common_name_2].to_list()))
        all_combo_list_current_genes = itertools.product(list_of_species_1_genes_in_group,list_of_species_2_genes_in_group)
        all_combo_list_current_genes = list(map(list,all_combo_list_current_genes))
        current_list_of_pairs = pd.DataFrame(all_combo_list_current_genes,columns = [common_name_1,common_name_2])
        current_list_of_pairs['Group Number'] = group_number
        all_pairs_to_evaluate_for_functional_conservation = pd.concat([all_pairs_to_evaluate_for_functional_conservation,current_list_of_pairs])



    all_pairs_to_evaluate_for_functional_conservation['Species 1 Score'] = np.nan
    all_pairs_to_evaluate_for_functional_conservation['Species 2 Score'] = np.nan


    ## Trim cococonets to match


    trimmed_species_1_cococonet = coconet_species_one[coconet_species_one.columns.intersection(cross_species_n_m_genes[common_name_1].to_list())]
    trimmed_species_1_cococonet = trimmed_species_1_cococonet[trimmed_species_1_cococonet.index.isin(cross_species_n_m_genes[common_name_1].to_list())]
    double_species_1_trimmed_cococonet = trimmed_species_1_cococonet[trimmed_species_1_cococonet.columns.intersection(cross_species_map_one_to_one[common_name_1].to_list())]
    double_species_1_trimmed_cococonet = double_species_1_trimmed_cococonet.replace(1,0)

    trimmed_species_2_cococonet = coconet_species_two[coconet_species_two.columns.intersection(cross_species_n_m_genes[common_name_2].to_list())]
    trimmed_species_2_cococonet = trimmed_species_2_cococonet[trimmed_species_2_cococonet.index.isin(cross_species_n_m_genes[common_name_2].to_list())]
    double_species_2_trimmed_cococonet = trimmed_species_2_cococonet[trimmed_species_2_cococonet.columns.intersection(cross_species_map_one_to_one[common_name_2].to_list())]
    double_species_2_trimmed_cococonet = double_species_2_trimmed_cococonet.replace(1,0)


    ## Rank
    species_1_cococonet_ranked = trimmed_species_1_cococonet.rank()
    species_2_cococonet_ranked = trimmed_species_2_cococonet.rank()

    #Do top 10 Genes
    top_10_species_1_genes = np.array(
        [double_species_1_trimmed_cococonet.T[c].nlargest(10).index.values for c in double_species_1_trimmed_cococonet.T]
    )  # using pair list above, cut down top 10 list to relevant genes, probably by adding list as a column in panda and then filtering panda to index of pair list
    top_10_species_1_genes_dataframe = pd.DataFrame(
        data=top_10_species_1_genes,
        index=double_species_1_trimmed_cococonet.index,
        columns=[
            "One",
            "Two",
            "Three",
            "Four",
            "Five",
            "Six",
            "Seven",
            "Eight",
            "Nine",
            "Ten",
        ],
    )

    #Convert 
    top_10_species_1_genes_as_species_2 = top_10_species_1_genes_dataframe.replace(to_replace=dictionary_mapper_one_to_two)

    # Get genes for checking 
    have_species_1_pairs = all_pairs_to_evaluate_for_functional_conservation.loc[all_pairs_to_evaluate_for_functional_conservation[common_name_1].isin(top_10_species_1_genes_as_species_2.index)]
    trimmed_all_gene_pairs_for_fc = have_species_1_pairs.loc[have_species_1_pairs[common_name_2].isin(trimmed_species_2_cococonet.index)]
    trimmed_all_gene_pairs_for_fc = trimmed_all_gene_pairs_for_fc.reset_index(drop = True)

    # Get values in species 2 
    for two_genes in trimmed_all_gene_pairs_for_fc.iterrows():
        current_species_1_gene = two_genes[1][common_name_1]
        current_species_2_gene = two_genes[1][common_name_2]
        finger_print_genes = top_10_species_1_genes_as_species_2.loc[current_species_1_gene].to_list()
        gene_ranks_in_species_2 = species_2_cococonet_ranked.loc[species_2_cococonet_ranked.index.isin(finger_print_genes), current_species_2_gene]
        avg_rank_in_species_2 = gene_ranks_in_species_2.mean()
        index_from_pairs = two_genes[0]
        trimmed_all_gene_pairs_for_fc.at[index_from_pairs, 'Species 1 Score'] = avg_rank_in_species_2

    #Repeat for Species 2 

    top_10_species_2_genes = np.array(
        [double_species_2_trimmed_cococonet.T[c].nlargest(10).index.values for c in double_species_2_trimmed_cococonet.T]
    )  # using pair list above, cut down top 10 list to relevant genes, probably by adding list as a column in panda and then filtering panda to index of pair list
    top_10_species_2_genes_dataframe = pd.DataFrame(
        data=top_10_species_2_genes,
        index=double_species_2_trimmed_cococonet.index,
        columns=[
            "One",
            "Two",
            "Three",
            "Four",
            "Five",
            "Six",
            "Seven",
            "Eight",
            "Nine",
            "Ten",
        ],
    )


    #convert 
    top_10_species_2_genes_as_species_1 = top_10_species_2_genes_dataframe.replace(to_replace=dictionary_mapper_dos_to_uno)


    # Get values in species 1 
    for two_genes in trimmed_all_gene_pairs_for_fc.iterrows():
        current_species_1_gene = two_genes[1][common_name_1]
        current_species_2_gene = two_genes[1][common_name_2]
        finger_print_genes = top_10_species_2_genes_as_species_1.loc[current_species_2_gene].to_list()
        gene_ranks_in_species_1 = species_1_cococonet_ranked.loc[species_1_cococonet_ranked.index.isin(finger_print_genes), current_species_1_gene]
        avg_rank_in_species_1 = gene_ranks_in_species_1.mean()
        index_from_pairs = two_genes[0]
        trimmed_all_gene_pairs_for_fc.loc[index_from_pairs, 'Species 2 Score'] = avg_rank_in_species_1

    #Caluclate Divisors 
    Number_of_species_1_genes = len(top_10_species_1_genes_as_species_2)
    Number_of_species_2_genes = len(top_10_species_2_genes_as_species_1)


    species_1_score_divisor = Number_of_species_2_genes - 4.5
    species_2_score_divisor = Number_of_species_1_genes-4.5

    #Divide and Average 
    trimmed_all_gene_pairs_for_fc['Species 1 Score'] = trimmed_all_gene_pairs_for_fc['Species 1 Score']/species_1_score_divisor
    trimmed_all_gene_pairs_for_fc['Species 2 Score'] = trimmed_all_gene_pairs_for_fc['Species 2 Score']/species_2_score_divisor
    trimmed_all_gene_pairs_for_fc['Total Score'] = trimmed_all_gene_pairs_for_fc[['Species 1 Score','Species 2 Score']].mean(axis = 1)

    return trimmed_all_gene_pairs_for_fc

In [18]:
# import pandas as pd
# import CococoNet_reader
# #Get Species Names in Common form 
# common_name_1 = Name_resolver.species_name_resolver('tomato','common')
# common_name_2 = Name_resolver.species_name_resolver('peanut','common')
# if common_name_1 == 'rice':
#     common_name_1 = 'rice_jp'
# if common_name_2 == 'rice':
#     common_name_2 ='rice_jp'
# file_list = os.listdir('/data/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species')
# spec_1_filter = [i for i in file_list if common_name_1 in i]
# spec_2_filter = [i for i in spec_1_filter if common_name_2 in i]
# current_location = '/data/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species/' + spec_2_filter[0] #get string for map

# cross_species_n_m_genes = pd.read_csv(current_location)
# orig_column_common_name_1 = common_name_1 + ' Symbol'
# orig_column_common_name_2 = common_name_2 + ' Symbol'
# cross_species_n_m_genes = cross_species_n_m_genes.rename(columns = {orig_column_common_name_1:common_name_1,orig_column_common_name_2:common_name_2})

# current_species_2_log_genes = get_log_genes_by_species(species_1 = common_name_2)
# test_list = [tomato_list, current_species_2_log_genes]
# combinations = [p for p in itertools.product(*test_list)]
# base_faker_df = pd.DataFrame(data = combinations, columns = [common_name_1,common_name_2])
# base_faker_df[common_name_1+ ' OrthoGene'] = 'added'
# base_faker_df[common_name_2+ ' OrthoGene'] = 'added'
# base_faker_df['Orthogroup'] = 'LOG'


# cross_species_n_m_genes = pd.concat([cross_species_n_m_genes,base_faker_df])
# cross_species_n_m_genes


# ### Get one to ones
# cross_species_map_one_to_one = cross_species_n_m_genes.drop_duplicates(subset=common_name_1, keep= False,)
# cross_species_map_one_to_one = cross_species_map_one_to_one.drop_duplicates(subset= common_name_2, keep= False)

# ## Convert to Dictionary
# dictionary_mapper_one_to_two = cross_species_map_one_to_one.set_index(common_name_1).to_dict()[common_name_2]
# dictionary_mapper_dos_to_uno = cross_species_map_one_to_one.set_index(common_name_2).to_dict()[common_name_1]

# ## Read In Cococonets 
# coconet_species_one = CococoNet_reader.read_cococonet(common_name_1)
# coconet_species_two = CococoNet_reader.read_cococonet(common_name_2)

# cross_species_n_m_genes['Group ID'] = 'Unassigned'


# ## Assign Genes to Groups
# id_indexer = 0
# for gene_pair in cross_species_n_m_genes.iterrows():
    
#     if gene_pair[1]['Group ID'] == 'Unassigned':
#         current_species_1_gene = gene_pair[1][common_name_1]
#         current_species_2_gene = gene_pair[1][common_name_2]
#         cross_species_n_m_genes['Group ID'].loc[(cross_species_n_m_genes[common_name_1] == current_species_1_gene) & (cross_species_n_m_genes['Group ID'] == 'Unassigned')] = id_indexer
#         cross_species_n_m_genes['Group ID'].loc[(cross_species_n_m_genes[common_name_2] == current_species_2_gene) & (cross_species_n_m_genes['Group ID'] == 'Unassigned')] = id_indexer

#         all_labeled_groups = cross_species_n_m_genes.loc[cross_species_n_m_genes['Group ID'] == id_indexer]

#         all_labeled_groups_species_1_genes = all_labeled_groups[common_name_1].to_list()
#         all_labeled_groups_species_2_genes = all_labeled_groups[common_name_2].to_list()

#         cross_species_n_m_genes['Group ID'].loc[cross_species_n_m_genes[common_name_1].isin(all_labeled_groups_species_1_genes)] = id_indexer
#         cross_species_n_m_genes['Group ID'].loc[cross_species_n_m_genes[common_name_2].isin(all_labeled_groups_species_2_genes)] = id_indexer

#         id_indexer += 1



# #Identify Pairs for evaluation
# all_pairs_to_evaluate_for_functional_conservation = pd.DataFrame(columns = [common_name_1,common_name_2,'Group Number'])
# for group_number in list(set(cross_species_n_m_genes['Group ID'].to_list())):
#     current_gene_map = cross_species_n_m_genes.loc[cross_species_n_m_genes['Group ID'] == group_number]
#     list_of_species_1_genes_in_group = list(set(current_gene_map[common_name_1].to_list()))
#     list_of_species_2_genes_in_group = list(set(current_gene_map[common_name_2].to_list()))
#     all_combo_list_current_genes = itertools.product(list_of_species_1_genes_in_group,list_of_species_2_genes_in_group)
#     all_combo_list_current_genes = list(map(list,all_combo_list_current_genes))
#     current_list_of_pairs = pd.DataFrame(all_combo_list_current_genes,columns = [common_name_1,common_name_2])
#     current_list_of_pairs['Group Number'] = group_number
#     all_pairs_to_evaluate_for_functional_conservation = pd.concat([all_pairs_to_evaluate_for_functional_conservation,current_list_of_pairs])



# all_pairs_to_evaluate_for_functional_conservation['Species 1 Score'] = np.nan
# all_pairs_to_evaluate_for_functional_conservation['Species 2 Score'] = np.nan


# ## Trim cococonets to match


# trimmed_species_1_cococonet = coconet_species_one[coconet_species_one.columns.intersection(cross_species_n_m_genes[common_name_1].to_list())]
# trimmed_species_1_cococonet = trimmed_species_1_cococonet[trimmed_species_1_cococonet.index.isin(cross_species_n_m_genes[common_name_1].to_list())]
# double_species_1_trimmed_cococonet = trimmed_species_1_cococonet[trimmed_species_1_cococonet.columns.intersection(cross_species_map_one_to_one[common_name_1].to_list())]
# double_species_1_trimmed_cococonet = double_species_1_trimmed_cococonet.replace(1,0)

# trimmed_species_2_cococonet = coconet_species_two[coconet_species_two.columns.intersection(cross_species_n_m_genes[common_name_2].to_list())]
# trimmed_species_2_cococonet = trimmed_species_2_cococonet[trimmed_species_2_cococonet.index.isin(cross_species_n_m_genes[common_name_2].to_list())]
# double_species_2_trimmed_cococonet = trimmed_species_2_cococonet[trimmed_species_2_cococonet.columns.intersection(cross_species_map_one_to_one[common_name_2].to_list())]
# double_species_2_trimmed_cococonet = double_species_2_trimmed_cococonet.replace(1,0)


# ## Rank
# species_1_cococonet_ranked = trimmed_species_1_cococonet.rank()
# species_2_cococonet_ranked = trimmed_species_2_cococonet.rank()

# #Do top 10 Genes
# top_10_species_1_genes = np.array(
#     [double_species_1_trimmed_cococonet.T[c].nlargest(10).index.values for c in double_species_1_trimmed_cococonet.T]
# )  # using pair list above, cut down top 10 list to relevant genes, probably by adding list as a column in panda and then filtering panda to index of pair list
# top_10_species_1_genes_dataframe = pd.DataFrame(
#     data=top_10_species_1_genes,
#     index=double_species_1_trimmed_cococonet.index,
#     columns=[
#         "One",
#         "Two",
#         "Three",
#         "Four",
#         "Five",
#         "Six",
#         "Seven",
#         "Eight",
#         "Nine",
#         "Ten",
#     ],
# )

# #Convert 
# top_10_species_1_genes_as_species_2 = top_10_species_1_genes_dataframe.replace(to_replace=dictionary_mapper_one_to_two)

# # Get genes for checking 
# have_species_1_pairs = all_pairs_to_evaluate_for_functional_conservation.loc[all_pairs_to_evaluate_for_functional_conservation[common_name_1].isin(top_10_species_1_genes_as_species_2.index)]
# trimmed_all_gene_pairs_for_fc = have_species_1_pairs.loc[have_species_1_pairs[common_name_2].isin(trimmed_species_2_cococonet.index)]
# trimmed_all_gene_pairs_for_fc = trimmed_all_gene_pairs_for_fc.reset_index(drop = True)

# # Get values in species 2 
# for two_genes in trimmed_all_gene_pairs_for_fc.iterrows():
#     current_species_1_gene = two_genes[1][common_name_1]
#     current_species_2_gene = two_genes[1][common_name_2]
#     finger_print_genes = top_10_species_1_genes_as_species_2.loc[current_species_1_gene].to_list()
#     gene_ranks_in_species_2 = species_2_cococonet_ranked.loc[species_2_cococonet_ranked.index.isin(finger_print_genes), current_species_2_gene]
#     avg_rank_in_species_2 = gene_ranks_in_species_2.mean()
#     index_from_pairs = two_genes[0]
#     trimmed_all_gene_pairs_for_fc.at[index_from_pairs, 'Species 1 Score'] = avg_rank_in_species_2

# #Repeat for Species 2 

# top_10_species_2_genes = np.array(
#     [double_species_2_trimmed_cococonet.T[c].nlargest(10).index.values for c in double_species_2_trimmed_cococonet.T]
# )  # using pair list above, cut down top 10 list to relevant genes, probably by adding list as a column in panda and then filtering panda to index of pair list
# top_10_species_2_genes_dataframe = pd.DataFrame(
#     data=top_10_species_2_genes,
#     index=double_species_2_trimmed_cococonet.index,
#     columns=[
#         "One",
#         "Two",
#         "Three",
#         "Four",
#         "Five",
#         "Six",
#         "Seven",
#         "Eight",
#         "Nine",
#         "Ten",
#     ],
# )


# #convert 
# top_10_species_2_genes_as_species_1 = top_10_species_2_genes_dataframe.replace(to_replace=dictionary_mapper_dos_to_uno)


# # Get values in species 1 
# for two_genes in trimmed_all_gene_pairs_for_fc.iterrows():
#     current_species_1_gene = two_genes[1][common_name_1]
#     current_species_2_gene = two_genes[1][common_name_2]
#     finger_print_genes = top_10_species_2_genes_as_species_1.loc[current_species_2_gene].to_list()
#     gene_ranks_in_species_1 = species_1_cococonet_ranked.loc[species_1_cococonet_ranked.index.isin(finger_print_genes), current_species_1_gene]
#     avg_rank_in_species_1 = gene_ranks_in_species_1.mean()
#     index_from_pairs = two_genes[0]
#     trimmed_all_gene_pairs_for_fc.loc[index_from_pairs, 'Species 2 Score'] = avg_rank_in_species_1

# #Caluclate Divisors 
# Number_of_species_1_genes = len(top_10_species_1_genes_as_species_2)
# Number_of_species_2_genes = len(top_10_species_2_genes_as_species_1)


# species_1_score_divisor = Number_of_species_2_genes - 4.5
# species_2_score_divisor = Number_of_species_1_genes-4.5

# #Divide and Average 
# trimmed_all_gene_pairs_for_fc['Species 1 Score'] = trimmed_all_gene_pairs_for_fc['Species 1 Score']/species_1_score_divisor
# trimmed_all_gene_pairs_for_fc['Species 2 Score'] = trimmed_all_gene_pairs_for_fc['Species 2 Score']/species_2_score_divisor
# trimmed_all_gene_pairs_for_fc['Total Score'] = trimmed_all_gene_pairs_for_fc[['Species 1 Score','Species 2 Score']].mean(axis = 1)

In [20]:
 get_log_genes_by_species(species_1 = common_name_2)

['LOC101206022',
 'LOC101206133',
 'LOC101207180',
 'LOC101210270',
 'LOC101210369',
 'LOC101211145',
 'LOC101211714',
 'LOC101214050',
 'LOC101216571',
 'LOC101217182',
 'LOC101217215',
 'LOC101218203']

In [21]:
base_faker_df

          tomato      cucumber tomato OrthoGene cucumber OrthoGene Orthogroup
0           LOG8  LOC101206022            added              added        LOG
1           LOG8  LOC101206133            added              added        LOG
2           LOG8  LOC101207180            added              added        LOG
3           LOG8  LOC101210270            added              added        LOG
4           LOG8  LOC101210369            added              added        LOG
..           ...           ...              ...                ...        ...
79  LOC101252798  LOC101214050            added              added        LOG
80  LOC101252798  LOC101216571            added              added        LOG
81  LOC101252798  LOC101217182            added              added        LOG
82  LOC101252798  LOC101217215            added              added        LOG
83  LOC101252798  LOC101218203            added              added        LOG

[84 rows x 5 columns]

In [30]:
list_of_species = ['maize']

In [31]:
for species_scientific_name in list_of_species:
    common_name_non_tomato = Name_resolver.species_name_resolver(species_scientific_name, desired_type='common')
    print(common_name_non_tomato)
    results_current_species = Calculate_Score_list_for_thresholding(Species_1 = 'tomato',Species_2 = common_name_non_tomato)
    print('done with calculation')
    results_current_species.to_csv('/data/passala/git/Solanum_SV_Pan_Genome/Jack_prickles/all_species_log_genes/all_tomato_results/' +common_name_non_tomato+ '_to_tomato.csv')
    print('done saving')
    #to_tomato_results[common_name_non_tomato] = results_current_species

maize
done with calculation
done saving

In [38]:
def Calculate_Score_list_for_thresholding_arabi(Species_1 = 'arabidopsis',Species_2 = 'maize'):
    import pandas as pd
    import CococoNet_reader
    #Get Species Names in Common form 
    common_name_1 = Name_resolver.species_name_resolver(Species_1,'common')
    common_name_2 = Name_resolver.species_name_resolver(Species_2,'common')
    if common_name_1 == 'rice':
        common_name_1 = 'rice_jp'
    if common_name_2 == 'rice':
        common_name_2 ='rice_jp'
    file_list = os.listdir('/data/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species')
    spec_1_filter = [i for i in file_list if common_name_1 in i]
    spec_2_filter = [i for i in spec_1_filter if common_name_2 in i]
    current_location = '/data/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species/' + spec_2_filter[0] #get string for map

    cross_species_n_m_genes = pd.read_csv(current_location)
    orig_column_common_name_1 = common_name_1 + ' Symbol'
    orig_column_common_name_2 = common_name_2 + ' Symbol'
    cross_species_n_m_genes = cross_species_n_m_genes.rename(columns = {orig_column_common_name_1:common_name_1,orig_column_common_name_2:common_name_2})

    current_species_2_log_genes = get_log_genes_by_species(common_name_2)
    test_list = [arabi_gene_list, current_species_2_log_genes]
    combinations = [p for p in itertools.product(*test_list)]
    base_faker_df = pd.DataFrame(data = combinations, columns = [common_name_1,common_name_2])
    base_faker_df[common_name_1+ ' OrthoGene'] = 'added'
    base_faker_df[common_name_2+ ' OrthoGene'] = 'added'
    base_faker_df['Orthogroup'] = 'LOG'


    cross_species_n_m_genes = pd.concat([cross_species_n_m_genes,base_faker_df])
    

    
    ### Get one to ones
    cross_species_map_one_to_one = cross_species_n_m_genes.drop_duplicates(subset=common_name_1, keep= False,)
    cross_species_map_one_to_one = cross_species_map_one_to_one.drop_duplicates(subset= common_name_2, keep= False)

    ## Convert to Dictionary
    dictionary_mapper_one_to_two = cross_species_map_one_to_one.set_index(common_name_1).to_dict()[common_name_2]
    dictionary_mapper_dos_to_uno = cross_species_map_one_to_one.set_index(common_name_2).to_dict()[common_name_1]

    ## Read In Cococonets 
    coconet_species_one = CococoNet_reader.read_cococonet(common_name_1)
    coconet_species_two = CococoNet_reader.read_cococonet(common_name_2)

    cross_species_n_m_genes['Group ID'] = 'Unassigned'


    ## Assign Genes to Groups
    id_indexer = 0
    for gene_pair in cross_species_n_m_genes.iterrows():
        
        if gene_pair[1]['Group ID'] == 'Unassigned':
            current_species_1_gene = gene_pair[1][common_name_1]
            current_species_2_gene = gene_pair[1][common_name_2]
            cross_species_n_m_genes['Group ID'].loc[(cross_species_n_m_genes[common_name_1] == current_species_1_gene) & (cross_species_n_m_genes['Group ID'] == 'Unassigned')] = id_indexer
            cross_species_n_m_genes['Group ID'].loc[(cross_species_n_m_genes[common_name_2] == current_species_2_gene) & (cross_species_n_m_genes['Group ID'] == 'Unassigned')] = id_indexer

            all_labeled_groups = cross_species_n_m_genes.loc[cross_species_n_m_genes['Group ID'] == id_indexer]

            all_labeled_groups_species_1_genes = all_labeled_groups[common_name_1].to_list()
            all_labeled_groups_species_2_genes = all_labeled_groups[common_name_2].to_list()

            cross_species_n_m_genes['Group ID'].loc[cross_species_n_m_genes[common_name_1].isin(all_labeled_groups_species_1_genes)] = id_indexer
            cross_species_n_m_genes['Group ID'].loc[cross_species_n_m_genes[common_name_2].isin(all_labeled_groups_species_2_genes)] = id_indexer

            id_indexer += 1



    #Identify Pairs for evaluation
    all_pairs_to_evaluate_for_functional_conservation = pd.DataFrame(columns = [common_name_1,common_name_2,'Group Number'])
    for group_number in list(set(cross_species_n_m_genes['Group ID'].to_list())):
        current_gene_map = cross_species_n_m_genes.loc[cross_species_n_m_genes['Group ID'] == group_number]
        list_of_species_1_genes_in_group = list(set(current_gene_map[common_name_1].to_list()))
        list_of_species_2_genes_in_group = list(set(current_gene_map[common_name_2].to_list()))
        all_combo_list_current_genes = itertools.product(list_of_species_1_genes_in_group,list_of_species_2_genes_in_group)
        all_combo_list_current_genes = list(map(list,all_combo_list_current_genes))
        current_list_of_pairs = pd.DataFrame(all_combo_list_current_genes,columns = [common_name_1,common_name_2])
        current_list_of_pairs['Group Number'] = group_number
        all_pairs_to_evaluate_for_functional_conservation = pd.concat([all_pairs_to_evaluate_for_functional_conservation,current_list_of_pairs])



    all_pairs_to_evaluate_for_functional_conservation['Species 1 Score'] = np.nan
    all_pairs_to_evaluate_for_functional_conservation['Species 2 Score'] = np.nan


    ## Trim cococonets to match


    trimmed_species_1_cococonet = coconet_species_one[coconet_species_one.columns.intersection(cross_species_n_m_genes[common_name_1].to_list())]
    trimmed_species_1_cococonet = trimmed_species_1_cococonet[trimmed_species_1_cococonet.index.isin(cross_species_n_m_genes[common_name_1].to_list())]
    double_species_1_trimmed_cococonet = trimmed_species_1_cococonet[trimmed_species_1_cococonet.columns.intersection(cross_species_map_one_to_one[common_name_1].to_list())]
    double_species_1_trimmed_cococonet = double_species_1_trimmed_cococonet.replace(1,0)

    trimmed_species_2_cococonet = coconet_species_two[coconet_species_two.columns.intersection(cross_species_n_m_genes[common_name_2].to_list())]
    trimmed_species_2_cococonet = trimmed_species_2_cococonet[trimmed_species_2_cococonet.index.isin(cross_species_n_m_genes[common_name_2].to_list())]
    double_species_2_trimmed_cococonet = trimmed_species_2_cococonet[trimmed_species_2_cococonet.columns.intersection(cross_species_map_one_to_one[common_name_2].to_list())]
    double_species_2_trimmed_cococonet = double_species_2_trimmed_cococonet.replace(1,0)


    ## Rank
    species_1_cococonet_ranked = trimmed_species_1_cococonet.rank()
    species_2_cococonet_ranked = trimmed_species_2_cococonet.rank()

    #Do top 10 Genes
    top_10_species_1_genes = np.array(
        [double_species_1_trimmed_cococonet.T[c].nlargest(10).index.values for c in double_species_1_trimmed_cococonet.T]
    )  # using pair list above, cut down top 10 list to relevant genes, probably by adding list as a column in panda and then filtering panda to index of pair list
    top_10_species_1_genes_dataframe = pd.DataFrame(
        data=top_10_species_1_genes,
        index=double_species_1_trimmed_cococonet.index,
        columns=[
            "One",
            "Two",
            "Three",
            "Four",
            "Five",
            "Six",
            "Seven",
            "Eight",
            "Nine",
            "Ten",
        ],
    )

    #Convert 
    top_10_species_1_genes_as_species_2 = top_10_species_1_genes_dataframe.replace(to_replace=dictionary_mapper_one_to_two)

    # Get genes for checking 
    have_species_1_pairs = all_pairs_to_evaluate_for_functional_conservation.loc[all_pairs_to_evaluate_for_functional_conservation[common_name_1].isin(top_10_species_1_genes_as_species_2.index)]
    trimmed_all_gene_pairs_for_fc = have_species_1_pairs.loc[have_species_1_pairs[common_name_2].isin(trimmed_species_2_cococonet.index)]
    trimmed_all_gene_pairs_for_fc = trimmed_all_gene_pairs_for_fc.reset_index(drop = True)

    # Get values in species 2 
    for two_genes in trimmed_all_gene_pairs_for_fc.iterrows():
        current_species_1_gene = two_genes[1][common_name_1]
        current_species_2_gene = two_genes[1][common_name_2]
        finger_print_genes = top_10_species_1_genes_as_species_2.loc[current_species_1_gene].to_list()
        gene_ranks_in_species_2 = species_2_cococonet_ranked.loc[species_2_cococonet_ranked.index.isin(finger_print_genes), current_species_2_gene]
        avg_rank_in_species_2 = gene_ranks_in_species_2.mean()
        index_from_pairs = two_genes[0]
        trimmed_all_gene_pairs_for_fc.at[index_from_pairs, 'Species 1 Score'] = avg_rank_in_species_2

    #Repeat for Species 2 

    top_10_species_2_genes = np.array(
        [double_species_2_trimmed_cococonet.T[c].nlargest(10).index.values for c in double_species_2_trimmed_cococonet.T]
    )  # using pair list above, cut down top 10 list to relevant genes, probably by adding list as a column in panda and then filtering panda to index of pair list
    top_10_species_2_genes_dataframe = pd.DataFrame(
        data=top_10_species_2_genes,
        index=double_species_2_trimmed_cococonet.index,
        columns=[
            "One",
            "Two",
            "Three",
            "Four",
            "Five",
            "Six",
            "Seven",
            "Eight",
            "Nine",
            "Ten",
        ],
    )


    #convert 
    top_10_species_2_genes_as_species_1 = top_10_species_2_genes_dataframe.replace(to_replace=dictionary_mapper_dos_to_uno)


    # Get values in species 1 
    for two_genes in trimmed_all_gene_pairs_for_fc.iterrows():
        current_species_1_gene = two_genes[1][common_name_1]
        current_species_2_gene = two_genes[1][common_name_2]
        finger_print_genes = top_10_species_2_genes_as_species_1.loc[current_species_2_gene].to_list()
        gene_ranks_in_species_1 = species_1_cococonet_ranked.loc[species_1_cococonet_ranked.index.isin(finger_print_genes), current_species_1_gene]
        avg_rank_in_species_1 = gene_ranks_in_species_1.mean()
        index_from_pairs = two_genes[0]
        trimmed_all_gene_pairs_for_fc.loc[index_from_pairs, 'Species 2 Score'] = avg_rank_in_species_1

    #Caluclate Divisors 
    Number_of_species_1_genes = len(top_10_species_1_genes_as_species_2)
    Number_of_species_2_genes = len(top_10_species_2_genes_as_species_1)


    species_1_score_divisor = Number_of_species_2_genes - 4.5
    species_2_score_divisor = Number_of_species_1_genes-4.5

    #Divide and Average 
    trimmed_all_gene_pairs_for_fc['Species 1 Score'] = trimmed_all_gene_pairs_for_fc['Species 1 Score']/species_1_score_divisor
    trimmed_all_gene_pairs_for_fc['Species 2 Score'] = trimmed_all_gene_pairs_for_fc['Species 2 Score']/species_2_score_divisor
    trimmed_all_gene_pairs_for_fc['Total Score'] = trimmed_all_gene_pairs_for_fc[['Species 1 Score','Species 2 Score']].mean(axis = 1)

    return trimmed_all_gene_pairs_for_fc

In [39]:
to_arabi_results = {}
for species_scientific_name in log_file['Org_name'].unique():
    common_name_non_tomato = Name_resolver.species_name_resolver(species_scientific_name, desired_type='common')
    print(common_name_non_tomato)
    results_current_species = Calculate_Score_list_for_thresholding_arabi(Species_1 = 'arabidopsis',Species_2 = common_name_non_tomato)
    results_current_species.to_csv('/data/passala/git/Solanum_SV_Pan_Genome/Jack_prickles/all_species_log_genes/all_arabi_results/' +common_name_non_tomato+ '_to_tomato.csv')
    to_arabi_results[common_name_non_tomato] = results_current_species

peanut
brome
mustard
cucumber
soybean
apple
medicago
tobacco
rice
potato
sorghum
grape
maize